.math-card {
  display: inline-block;
  font-family: monospace;
  text-align: right;
  background: orange;
  padding: 12px;
  margin-right: 24px;
  font-size: 24px;
}

.first-term, 
      .second-term,
      .result {
        margin: 12px 0;
      }

      .result {
        border-top: 1px solid black;
        padding-top: 12px;
        font-weight: bold;
      }
