.featured {
    width: 480px;
    margin: 0 auto;
    background-color: #eee;
    color: #166;
    padding: 15px;
}

article img {
    float: right;
    height: 128px;
    width: 128px;
    border-radius: 50%;
    
}

body {
    background-color: #222;
}

h3 {
    margin-top: 0px;
    padding: 0px;
    
}

a:link {
    text-decoration: none;
    color: #611;
}

a:hover {
    background-color: #cf8;
    text-decoration: underline;
}

