.header{
    color: red;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
p.yellow {
    color: #fcd32d;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace ;
}
p.teal {
    color: teal;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
p.grey {
    color: grey;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
p.maroon {
    color: maroon;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}
p.blue {
    color: blue;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

