* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    flex: none;
    display: block;
}

.main-nav {
    display: flex;
    background-color: #44b;
    justify-content: space-between;
    font-family: Open Sans;
}

.horizontal.nav-list {
    display: flex;
    flex-direction: row;
}


.horizontal.nav-list a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: .25em .5em;
    border-right: 1px solid #888;
}
 

.horizontal.nav-list.full-width {
    display: flex;
}

.material-icons {
    display: flex;
    font-weight: normal;
    font-size: 24px;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}


main .short-width {
     display: flex;
} */

 main .full-width {
    display: none;
}

.sub-nav {
    display: flex;
    padding: 1rem 0;
    align-items: center;

}

.search-form {
    display: flex;
    flex: 1 1 0%; 
    

}

.search-form input {
    border:none;
    border-bottom: 1px solid #44b;
    outline: none;
    flex: 1 1 0%;
    padding: .25rem .5rem;

}

.search-form button {
    background-color: #44b;
    color: white;
    padding: .25em .5em;
    border:none;

}

.company-name {
    font-family: serif;
    font-size: 34px;
    color: #44b;
    margin: 0 1rem;
    text-align: center;
    margin: 0 1rem;
    min-width: calc(256px - 2rem);

  
}

.credit-offer {
    background-color: red;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: .25rem .5rem;
    margin: 0 1rem;
    flex-shrink: 0;
    text-decoration: none;

}

.nav-list {
    display: flex;
    flex-direction: row;
    color: white;
    list-style: none;
}

.nav-list a {
padding: 1rem;
border-right: 9;
}

.nav-list li:last-of-type a {
    border-right: none;
}


@media (min-width: 768px) {
    main .full-width {
        display: flex
    }
    main. .short-width {
        display: none;
    }
}